
*.pth
*.pt
*.pyc
*.h5 
*.hdf5
*.p
*.zip
*.bin
*.binary
hw1/log/

hw2/hw2-1/Corpus/
hw2/hw2-1/vctk.h5
hw2/hw2-1/.ipynb_checkpoints
hw2/hw2-1/__pycache__
hw2/hw2-2/data/
hw2/hw2-2/starganvc/
hw2/hw2-3/dataset/
hw2/hw2-3/result/

hw3/Conv-TasNet/egs/

hw4/hw4-1/dataset_cache
hw4/hw4-1/bert/runs
hw4/hw4-1/.ipynb_checkpoints
hw4/cws/.ipynb_checkpoints
hw4/hw4-2/.ipynb_checkpoints

hw5/.ipynb_checkpoints
hw5/HW5-TextStyleTransfer/.ipynb_checkpoints
hw5/HW5-TextStyleTransfer/data/gender_data/
hw5/HW5-TextStyleTransfer/save/
hw5/HW5-TextStyleTransfer/wandb/


